<% layout("layouts/boilerplate.ejs") -%>


<ul>
  <div class="filters">
    <div class="filter">
    <a href="/listings/?catagory=trending">
        <div><i class="fa-solid fa-fire"></i></div>
        <a>Trending</a>
    </a>
    </div>
    <div class="filter">
    <a href="/listings/?catagory=rooms">
        <div><i class="fa-solid fa-bed"></i></div>
        <a>Rooms</a>
    </a>
    </div>
    <div class="filter">
    <a href="/listings/?catagory=mountainCities">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <a>Mountain Cities</a>
    </a>
    </div>
    <div class="filter">
    <a href="/listings/?catagory=mountain">
        <div><i class="fa-solid fa-mountain"></i></div>
        <a>Mountain</a>
    </a>
    </div>
    <div class="filter">
    <a href="/listings/?catagory=castles">
        <div><i class="fa-brands fa-fort-awesome-alt"></i></div>
        <a>Castles</a>
    </a>
    </div>
    <div class="filter">
    <a href="/listings/?catagory=amazingPools">
        <div><i class="fa-solid fa-water-ladder"></i></div>
        <a>Amazing Pools</a>
    </a>
    </div>
    <div class="filter">
    <a href="/listings/?catagory=camping">
        <div><i class="fa-solid fa-tent"></i></div>
        <a>Camping</a>
    </a>
    </div>
    <div class="filter">
    <a href="/listings/?catagory=farm">
        <div><i class="fa-solid fa-tractor"></i></div>
        <a>Farm</a>
    </a>
    </div>
    <div class="filter">
    <a href="/listings/?catagory=arctic">
        <div><i class="fa-solid fa-snowman"></i></div>
        <a>Arctic</a>
    </a>
    </div>
    <div id="reverseCheck1">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display With Taxes</label>
      </div>
    </div>
  </div>
    
  <br>

  <% if(!listings.length) { %>
    <h3 style="text-align: center; color: #585454; margin-top: 5rem;">No listings found <i class="fa-solid fa-face-frown"></i></h3>
  <% } %>
  <div class="main">
    <% for(listing of listings) { %>
    <a href="/listings/<%= listing.id %>">
      <div class="card" style="width: 18rem; margin: 1em; border: none">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top card"
          alt="imageUrl"
          style="height: 15rem; border-radius: 10px;"
        />
        <div class="card-body">
          <h4><%= listing.title %></h4>
          <hr />
          <p class="card-text"><%= listing.price.toLocaleString('en-IN') %> &#8377; per night &nbsp; &nbsp; <i class="tax-info">+ 18% GST</i></p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</ul>

<script>
  let toggletax = document.getElementById("reverseCheck1");
  toggletax.addEventListener("click", () => {
    let allListing = document.getElementsByClassName("tax-info");
    for(listing of allListing){
      if(listing.style.display != "inline"){
        listing.style.display = "inline";
      }else{
        listing.style.display = "none";
      }
    }
  });
</script>
