<% layout("layouts/boilerplate.ejs") -%>

<form action="/login" method="POST">
    <% include("../includes/flash.ejs") -%>
    <div class="col-5 ms-1/2 offset-3">
        <h3>Login</h3>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input class="form-control" id="exampleFormControlInput1" placeholder="Username" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input class="form-control" id="exampleFormControlInput1" placeholder="Password" name="password">
        </div>
        <button class="btn btn-primary">Login</button>
        <p>No account ? <a href="/signup">Create one</a></p>
    </div>
    
</form>
